dist: bionic
language: python

before_install:
    - sudo apt-get install -y dkms fakeroot dpkg-dev build-essential debhelper linux-headers-5.0.0-1031-gcp

script: 
    - dpkg-buildpackage -rfakeroot --no-sign
    - sudo dpkg -i ../nullfsvfs_*_amd64.deb
    - sudo modprobe nullfs
    - sudo mount -t nullfs none /mnt
    - sudo cp /etc/fstab /mnt/
