Source: nullfsvfs
Section: misc
Priority: optional
Maintainer: Michael Ablassmeier <abi@grinser.de>
Build-Depends: debhelper (>= 9), dkms
Standards-Version: 3.9.8
Homepage: https://github.com/abbbi/nullfsvfs
Vcs-Git: https://github.com/abbbi/nullfsvfs

Package: nullfsvfs
Architecture: any
Depends: ${misc:Depends}
Description: virtual file system that behaves like /dev/null
 Nullfsvfs is a virtual file system that can handle regular
 file operations like mkdir/rmdir/ln but won't store any data.
