#!/usr/bin/make -f

VERSION=$(shell dpkg-parsechangelog |grep ^Version:|cut -d ' ' -f 2)

%:
	dh $@ --with dkms

override_dh_install:
	dh_install Makefile nullfs.c usr/src/nullfsvfs-$(VERSION)/

override_dh_dkms:
	dh_dkms -V $(VERSION)
